@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Mukta&family=Shadows+Into+Light&display=swap');

body{
    margin: 0;
    padding: 0;
    min-width: 100%;
    overflow-x: hidden;
    background-color: #0a0a0a !important;
}
.form-control {
    width: 90% !important;
}
.btn-lg {
    width: 30% !important;
}
.col-form-label{

    font-size:10px !important;
}
.container {
    background-color: white;
    border: 2px solid #000;
    outline: 10px solid white;
    width: 1014px !important;
    height: 685px;
    margin: 33px;
}

.forff{
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-style: normal;
    line-height: initial;
    font-size: 65px;
}

.num{
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
}

.container2 {
    background-color: white;
    border: 2px solid #000;
    outline: 10px solid white;
    width: 890px !important;
    /* height: 554px; */
    margin: 39px;
}
.boxwidth{
    display: inline-block;
    width: 150px;
    height: 150px;
    /* margin: 0.25rem; */
}
.rounded-circle {
    border-radius: 51%!important;
    border-color: #212529!important;
    border: 1px solid #212529;
    width: 100px;
    height: 100px;
    /* margin-left: 25px; */
}

.imgname{
    font-family: 'Dancing Script', cursive;
}

/************************** media query for responsive device **************************/




@media only screen and (max-device-width: 768px) {

    .container2 {
        margin: 4px;
    }
    .container{
        max-width: 904px !important;
    }
}