@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
    background-color: black;
    max-width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}
.container{
  max-width: 1920px;


}
.background{
    background-color: #1b1c1d;
    height: 522px;
}
.bg_white{
    background-color: #fff;
    height: 800px;
}

.bg_white2{
    background-color: #fff;
    height: 620px;
}
.bg_black{
    background-color: #1b1c1d;
    height: 150px;
    color: #ffff;
}
.clss{
    color: #74787b;
}
h1{
    color: #ffff;
}
.fs-1 {
    font-size: 4.5rem!important;
}
  .topnav {
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #989595;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .box {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    height: 120px;
    margin: 17px;
    position: relative;
    width: 235px;
    border: 1px solid #e6e6e6;
  }



/* media query for responsive device */
@media only screen and (max-device-width: 1024px) {
  .bg_white2 {
    background-color: #fff;
    height: 800px;
  }

  .box {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    height: 120px;
    margin: 17px;
    position: relative;
    width: 235px;
    border: 1px solid #e6e6e6;
  }
}

@media only screen and (max-device-width: 768px) {
  .bg_white {
    background-color: #fff;
    height: 1150px;
  }
  .bg_white2 {
    background-color: #fff;
    height: 1022px;
  }
  .box {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    height: 120px;
    margin: 17px;
    position: relative;
    width: 235px;
    border: 1px solid #e6e6e6;
  }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
      .container {
          height: 2928px;
          width: 430px;
      }

      .bg_white {
        background-color: #fff;
        height: 1270px;
      }
      .bg_white2 {
        background-color: #fff;
        height: 1455px;
    }
    .bg_black {
      background-color: #1b1c1d;
      height: 220px;
      color: #ffff;
    }
    .box {
        background: #fff;
        border-radius: 5px;
        display: inline-block;
        height: 100px;
        margin: 12px;
        position: relative;
        width: 295px;
    }
}



